*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
header,footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}
footer{
    text-align: center;
}
.logo img{
    height: 100px;
}
.cart img{
    height: 50px;
}
.cart span{
    color: white;
    font-size: 48px;
}
main{
    max-width: 1280px;
    margin: auto;
    display: flex;
    gap: 10px;
}
#rightDiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.product{
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px #333;
    transition: all 1s ease;
}
.product:hover{
    transform: scale(1.05);
    box-shadow: 3px 4px 10px rebeccapurple;
}
#leftDiv{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 5px;
}
#leftDiv>button{
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
}
#leftDiv>button:hover,#leftDiv>button:active{
    background-color: rebeccapurple;
    color: white;
}
